.card-body {
  min-width: 300px;
  min-height: 450px;
  border: 2px solid #333333;
  background-color: none;
  border-radius: 5px;
  box-shadow: 5px 5px #999999;
}

.card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.restaurant-type {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  padding: 0 10px 0 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 12px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-weight: bold;
}

.restaurant-type:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  float: left;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
  box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
